.checkoutContainer {
    text-align: center;
    margin-top: 10%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(240, 135, 135);
    padding: 20px;
    border: 2px solid rgb(240, 135, 135);
    border-radius: 50%;
    
}

